body {
    font-family: 'Arial', sans-serif;
}
.section{
    text-align: center;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.title{
    color: green;
}  
.cell {
    font-family: 'Permanent Marker', cursive;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 0 0 1px darkblue;
    border: 1px solid darkblue;
    background-color: darkcyan;
    cursor: pointer;  
    line-height: 100px;
    font-size: 60px; 
    margin: 10px;  

}
button{
    padding: 10px;
    background-color: #eeeeee;
    border-color: green;
    color: green; 
    border-radius: 10px;
}
button:hover{
    background-color: green;
    color: #ffffff;
   
}